/* Full-screen center */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  /* Card container */
  .login-card {
    background-color: white;
    border-radius: 30px;
    padding: 40px 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  
  /* Input fields */
  .login-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
  }
  
  /* Buttons */
  .login-button {
    padding: 10px;
    background-color: #9c5274;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .google-button {
    padding: 10px;
    background-color: #db4437;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
  }

  .login-container {
        /* background-image: url('/public/backgroud.png'); */
        background: linear-gradient(#4e1587, #f19261);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        /* Add other background properties as needed */    
  }